{% extends 'base.html' %}

<script>


const axios = require('axios').default;
{% block jquery %}
$("#myChart").show();
$("#myChart2").hide();
$("#myChart3").hide();
$("#myChart4").hide();

function hideAll(){
    $("#myChart").hide();
$("#myChart2").hide();
$("#myChart3").hide();
$("#myChart4").hide();
}

$("#chartSelect").change((e)=>{
    console.log("value : ",e.target.value);
     hideAll();
    $("#"+e.target.value).show();
})
var endpoint = '/api/chart/data/'
var endpointTime = 'api/timeSeries/data/'

var defaultData = []
var labels = [];
var clean_data = [];

var status = "Confirmed";
var countries = "10";
var backend_countries = [];
var country = "US";
// $.ajax({
//     method: "GET",
//     url: endpoint,
//     success: function(data){
//         labels = data.labels
//         defaultData = data.default
//         setChart()
//     },
//     error: function(error_data){
//         console.log("error")
//         console.log(error_data)
//     }
// })

// Confirmed
// Deaths
// Recovered
// Active


axios.get(endpoint,{
    params: {
        status: status,
        countries: countries
    }
  })
  .then(function (response) {
    // handle success
    // console.log(response);
        labels = response.data.labels
        defaultData = response.data.default
        status = response.data.status
        setChart()

  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });


  function timeSeriesReturn (){

    axios.get(endpointTime,{
    params: {
        country: "Algeria",
    }
  })
  .then(function (response) {
    // handle success
    console.log(response);
    clean_data = response.data.clean_data

    
  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });

  return clean_data

  }



  $("#status").change((e)=>{
    console.log("value : ",e.target.value);
    status = e.target.value
    axios.get(endpoint,{
    params: {
        
        status: status,
        countries: countries
    }
  })
  .then(function (response) {
    // handle success
    // console.log(response);
        labels = response.data.labels
        defaultData = response.data.default
        status = response.data.status
        setChart()

  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });

})


$("#countries").change((e)=>{
    console.log("value : ",e.target.value);
    countries = e.target.value
    axios.get(endpoint,{
    params: {
        
        status: status,
        countries: countries
    }
  })
  .then(function (response) {
    // handle success
    // console.log(response);
        labels = response.data.labels
        defaultData = response.data.default
        status = response.data.status
        setChart()

  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });

})

$("#country_drop").change((e)=>{
    // console.log("value : ",e.target.value);
    country = e.target.value
    axios.get(endpointTime,{
    params: {
        country: country,
    }
  })
  .then(function (response) {
    // handle success
//     console.log("response.data.clean_data");
//     console.log(response.data);
//     backend_countries = response.data.country;
//     var countries_option = "";
//     backend_countries.forEach(element=>{
//             countries_option += "<option value='"+element+"' selected>"+element+"</option>"
//     })
// $('#country').html(countries_option);


// var newData = [];
// response.data.clean_data.forEach((item,index)=>{
//     newData.push({value:item.value, date: new Date(item.data)})
// })
// console.log("new data : ", newData);
//     clean_data = newData;
timeSeriesGraph();

    
  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });
})
  

function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var ctx3 = document.getElementById("myChart3");
    var ctx4 = document.getElementById("myChart4");
    var element = $(this);
    $(element).remove();
    var myChart2 = new Chart(ctx2, {
    type: 'radar',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,

            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',

                'rgba(255, 99, 80, 0.2)',
                'rgba(54, 162, 100, 0.2)',
                'rgba(255, 100, 86, 0.2)',
                'rgba(100, 192, 0, 0.2)',
                'rgba(50, 102, 255, 0.2)',
                'rgba(255, 50, 64, 0.2)',

                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',

                'rgba(255, 99, 80, 0.2)',
                'rgba(100, 162, 100, 0.2)',
                'rgba(0, 100, 86, 0.2)',
                'rgba(50, 192, 0, 0.2)',
                'rgba(50, 102, 0, 0.2)',
                'rgba(0, 50, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',

                'rgba(255,99,80,1)',
                'rgba(54, 162, 100, 1)',
                'rgba(255, 100, 86, 1)',
                'rgba(100, 192, 0, 1)',
                'rgba(50, 102, 255, 1)',
                'rgba(255, 50, 64, 1)',

                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',

                'rgba(255,99,80,1)',
                'rgba(100, 162, 100, 1)',
                'rgba(0, 100, 86, 1)',
                'rgba(50, 192, 0, 1)',
                'rgba(50, 102, 0, 1)',
                'rgba(0, 50, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


var myChart4 = new Chart(ctx4, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
// var ctx = document.getElementById("myChart");

function timeSeriesGraph(){

    am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.XYChart);

console.log("clean_data")
console.log(clean_data)
var data = clean_data;



axios.get(endpointTime,{
    params: {
        country: country,
    }
  })
  .then(function (response) {
    // handle success
    console.log("response.data.clean_data");
    console.log(response.data);
    backend_countries = response.data.country;
    var countries_option = "";
    backend_countries.forEach(element=>{
            if (element == country){
                countries_option += "<option value='"+element+"' selected>"+element+"</option>"
            }
            countries_option += "<option value='"+element+"'>"+element+"</option>"
    })
$('#country_drop').html(countries_option);


var newData = [];
response.data.clean_data.forEach((item,index)=>{
    newData.push({value:item.value, date: new Date(item.data)})
})
console.log("new data : ", newData);
    clean_data = newData;
    chart.data = clean_data;

    
  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });

  document.getElementById("country_name").innerHTML = "Country: " + country;


// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.minGridDistance = 60;

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "value";
series.dataFields.dateX = "date";
series.tooltipText = "{value}"

series.tooltip.pointerOrientation = "vertical";

chart.cursor = new am4charts.XYCursor();
chart.cursor.snapToSeries = series;
chart.cursor.xAxis = dateAxis;

//chart.scrollbarY = new am4core.Scrollbar();
chart.scrollbarX = new am4core.Scrollbar();

}); 

}

timeSeriesGraph();






{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Covid 19</h1>
        <div>
            <select id="chartSelect">
                <option value="myChart" selected>Polar</option>
                <option value="myChart2">Radar</option>
                <option value="myChart3">Line</option>
                <option value="myChart4">Bar</option>
            </select>

            <select id="status">
                <option value="Confirmed" selected>Confirmed</option>
                <option value="Deaths">Deaths</option>
                <option value="Recovered">Recovered</option>
                <option value="Active">Active</option>
            </select>

            <select id="countries">
                <option value="5" >5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>

            <script>
                function myFunction() {
                  var x = document.createElement("INPUT");
                  x.setAttribute("type", "date");
                  x.setAttribute("value", "2014-02-09");
                  document.body.appendChild(x);
                }
            </script>
        </div>

        <div align="center">
            <div style="width:50%;" class=''>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div style="width:50%;" class=''>
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
            <div style="width:50%;" class=''>
                <canvas id="myChart3" width="400" height="400"></canvas>
            </div>
            <div style="width:50%;" class=''>
                <canvas id="myChart4" width="400" height="400"></canvas>
            </div>

        </div>
        <div><h1>Cases status</h1></div>
        
        <div><h3 id='country_name' >Country:  </h3></div>

        <div>
            <select id="country_drop">
                
                <option value="5" >5</option>
            </select>
        </div>

        <div style=height:500px id="chartdiv"></div>

       


    </div>
</div>

{% endblock content %}
