{% extends 'base.html' %}

<script>


const axios = require('axios').default;
{% block jquery %}
$("#myChart").show();
$("#myChart2").hide();
$("#myChart3").hide();
$("#myChart4").hide();

function hideAll(){
    $("#myChart").hide();
$("#myChart2").hide();
$("#myChart3").hide();
$("#myChart4").hide();
}

$("#chartSelect").change((e)=>{
    console.log("value : ",e.target.value);
     hideAll();
    $("#"+e.target.value).show();
})
var endpoint = '/api/chart/data/'
var defaultData = []
var labels = [];

var status = "Confirmed";
var countries = "10";
// $.ajax({
//     method: "GET",
//     url: endpoint,
//     success: function(data){
//         labels = data.labels
//         defaultData = data.default
//         setChart()
//     },
//     error: function(error_data){
//         console.log("error")
//         console.log(error_data)
//     }
// })

// Confirmed
// Deaths
// Recovered
// Active


axios.get(endpoint,{
    params: {
        status: status,
        countries: countries
    }
  })
  .then(function (response) {
    // handle success
    console.log(response);
        labels = response.data.labels
        defaultData = response.data.default
        status = response.data.status
        setChart()

  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });


  $("#status").change((e)=>{
    console.log("value : ",e.target.value);
    status = e.target.value
    axios.get(endpoint,{
    params: {
        
        status: status,
        countries: countries
    }
  })
  .then(function (response) {
    // handle success
    console.log(response);
        labels = response.data.labels
        defaultData = response.data.default
        status = response.data.status
        setChart()

  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });

})


$("#countries").change((e)=>{
    console.log("value : ",e.target.value);
    countries = e.target.value
    axios.get(endpoint,{
    params: {
        
        status: status,
        countries: countries
    }
  })
  .then(function (response) {
    // handle success
    console.log(response);
        labels = response.data.labels
        defaultData = response.data.default
        status = response.data.status
        setChart()

  })
  .catch(function (error) {
    // handle error
    console.log(error);
  })
  .then(function () {
    // always executed
  });

})
  

function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var ctx3 = document.getElementById("myChart3");
    var ctx4 = document.getElementById("myChart4");
    var myChart2 = new Chart(ctx2, {
    type: 'radar',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

    var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


var myChart4 = new Chart(ctx4, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: status,
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Covid 19</h1>
        <div>
            <select id="chartSelect">
                <option value="myChart" selected>Polar</option>
                <option value="myChart2">Radar</option>
                <option value="myChart3">Line</option>
                <option value="myChart4">Bar</option>
            </select>

            <select id="status">
                <option value="Confirmed" selected>Confirmed</option>
                <option value="Deaths">Deaths</option>
                <option value="Recovered">Recovered</option>
                <option value="Active">Active</option>
            </select>

            <select id="countries">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
        </div>

        <div align="center">
            <div style="width:50%;" class=''>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div style="width:50%;" class=''>
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
            <div style="width:50%;" class=''>
                <canvas id="myChart3" width="400" height="400"></canvas>
            </div>
            <div style="width:50%;" class=''>
                <canvas id="myChart4" width="400" height="400"></canvas>
            </div>

        </div>

       


    </div>
</div>

{% endblock content %}
